<h1> Tiny APP </h1>
<% if(user){ %>
  <%= user.email %> <form method="POST" action="/logout">
    <input type="submit" value="logout">
  </form>
<%} else{ %>
  <a href="/login">Log in</a> <a href="/register">Register</a>
<%}%>


