<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <h1> Tiny APP </h1>
    <form action="/login" method="POST">
      email:<input type="email" name="email" style="margin-left:30px" placeholder="email"><br>
      Password: <input type="password" name="password" placeholder="password"><br>
      <input type="submit" value="Login">
    </form>
  </header>
</body>
</html>