<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <h1>TinyApp</h1><br>
    <h2>Please Register</h2>
  </header>
  <form action="/register" method="POST">
    email:<input type="email" name="email" style="margin-left:30px"><br>
    Password: <input type="password" name="password"><br>
    <input type="submit" value="Sign Up">
  </form>
</body>
</html>

