<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include partials/_header.ejs %>
  </header>
   <ul>
      <h2>ShortURL: <%= shortURL %></h2>
      <form method="POST" action="/urls/<%= shortURL%>">
        <%= longURL %>
        <input type="text" id="newURL" name="newURL">
        <input type="submit" value="Update">
      </form>
   </ul>

</body>
</html>

